/*inizio corpo riga*/

.container {
    width: 80%;
    margin: 50px auto;
}

/*inizio riga*/

.row {
    margin: 40px 0px;
}

/*inizio prodotto*/

.product {
    display: inline-block;
    position: relative;
}

.like {
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 10px;
}

.cuore {
    color: #000;
    font-size: 50px;
    position: relative;
}

.dettagli {
    position: absolute;
    left: 0px;
    bottom: 40px;
}

.dettagli .discount {
    background-color: rgb(255, 0, 76);
    font-size: 100%;
    color: rgb(255, 255, 255);
    padding: 3px;
}

.sostenibilità {
    background-color: #028759;
    font-size: 100%;
    color: rgb(255, 255, 255);
    padding: 3px;
}


/*fine prodotto*/

/*fine riga*/

/*fine corpo riga*/