/*inizio corpo riga*/

.container {
    width: 80%;
    height: 80px;
    margin: 50px auto;
    display: inline;
}

/*inizio riga*/

.row {
    margin: 40px 0px;
}


/*inizio prodotto*/

.product {
    display: inline-block;
    position: relative;
    margin: 20px;
    width: 30%;
}

.like {
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 0px;
    top: 10px;
    padding: 5px 10px;
    font-size: 30px;
}

.dettagli {
    position: absolute;
    left: 0px;
    bottom: 80px;
}

.dettagli .discount {
    background-color: rgb(255, 0, 76);
    font-size: 100%;
    color: rgb(255, 255, 255);
    padding: 3px;
    font-weight: bold;
}

.sostenibilità {
    background-color: #028759;
    font-size: 100%;
    color: rgb(255, 255, 255);
    padding: 3px;
    font-weight: bold;
}

.dress {
    font-size: large;
    font-weight: bold;
}

.originale {
    color: red;
    font-weight: bold;
}

.sconto {
    text-decoration: line-through;
}

.originale:after, .sconto:after {
    content: '\20AC';
}

.marca {
    margin-top: 5px;
}

.img-container:hover .img1 {
    display: none;
}

.img-container:hover .img2 {
    display: block;
}

.img2 {
    display: none;
}

img {
    width: 100%;
}

/*fine prodotto*/

/*fine riga*/

/*fine corpo riga*/